*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/app/release
/projectFilesBackup
.externalNativeBuild
/gradle.properties

# Google Services (e.g. APIs or Firebase)
app/google-services.json
app-legacy/google-services.json