<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ae.apps.messagecounter.activities"
    android:versionCode="57"
    android:versionName="2.0.57" >

    <!-- Min SDK Version is Honeycomb -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <!-- Declare the permissions required -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ae.apps.messagecounter.activities.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AboutActivity" >
        </activity>
    </application>

</manifest>