<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ae.apps.messagecounter"
    android:versionCode="297"
    android:versionName="2.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- Declare the permissions required -->
    <uses-permission android:name="android.permission.READ_SMS" android:required="true" />
    <uses-permission android:name="android.permission.READ_CONTACTS" android:required="true" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- screen support -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true" />

    <!-- declare features -->
    <uses-feature android:name="android.hardware.telephony" android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_app_icon"
        android:theme="@style/AppTheme" >

        <!-- Activities -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.AboutActivity" />

        <!-- Services -->
        <service
            android:name=".services.SMSObserverService"
            android:stopWithTask="false" >
        </service>

        <!-- Receivers -->
        <receiver android:name=".receivers.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <receiver android:name=".receivers.PackageReplacedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" android:path="com.ae.apps.messagecounter"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name=".receivers.WidgetUpdateReceiver"
            android:icon="@drawable/ic_app_icon"
            android:label="@string/app_name">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider"/>
        </receiver>
    </application>

</manifest>